@import 'sass-bootstrap/lib/_variables'
@import 'sass-bootstrap/lib/_mixins'

$btn-icon-size: 30px

.composer
    text-align: center
    margin-bottom: 30px
    position: relative

    #composition
        @include size(400px, 600px)
        background: black
        box-shadow: 0 0 6px rgba(0,0,0,0.7)

    #trash
        opacity: 0
        color: $brand-danger

        position: absolute
        top: 0
        left: 50%
        margin-left: -20px

        @include transition(opacity .3s ease)

        &:hover
            background: darken($brand-danger, 15%)

    #composition:active ~ #trash,
    #composition.selected ~ #trash
        opacity: 1

.tools button, #trash
    font-size: $btn-icon-size
    line-height: 0.7em
    padding: 0.4em

    svg
        @include square(1em)
        vertical-align: middle

